pyTelegramBotAPI==4.15.2
flask==2.3.3
requests==2.31.0
psutil==5.9.5
gunicorn==21.2.0
pyrogram==2.0.106
tgcrypto
asyncio
pymongo
gitpython==3.1.40
requests
httpx
google
protobuf
pycryptodome
PyJWT
urllib3
protobuf-decoder
pytz
aiohttp
cfonts
cryptography
pyrofork==2.3.69
TgCrypto-pyrofork==1.2.8
